body {
  background: #f4f6f8;
  font-family: Arial;
}

form {
  max-width: 420px;
  margin: 40px auto;
  background: white;
  padding: 25px;
  border-radius: 10px;
}

input, textarea, button {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}

button {
  background: #2563eb;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #1e40af;
}
